@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-custom-gradient {
      background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(0, 60, 112, 1) 29%, rgba(123, 174, 219, 1) 80%);
    }
  .bg-custom-gradient-light {
    background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 60, 112, 0.4581578286846032) 0%,
    rgba(255, 255, 255, 1) 53%
  );
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
}

/* *{
  border: solid 1px red;
} */

html {
  margin: 0;
  padding: 0;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.error-message {
  background-color: red;
  color: white;
  padding: 0.75rem;
  border-radius: 4px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*----------------SECTION HOME---------------------*/

/*----------------SECTION HOME---------------------*/

/*----------------SECTION CUSTOMERS---------------------*/
.bg-custom-gradient {
  background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(0, 60, 112, 1) 29%, rgba(123, 174, 219, 1) 80%);
}

.button-know-home {
 border-color: #003C71;
 border: 1;
 border-radius: 0;
 color: #003C71;
 position: relative;
 overflow: hidden;
 z-index: 1;
 transition: color 150ms ease-in-out;
 font-weight: bold;
 width: 200px;

 &:after {
   content: '';
   position: absolute;
   display: block;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 0;
   height: 100%;
   background: #003C71;
   z-index: -1;
   transition: width 150ms ease-in-out;
 }

 &:hover {
   color: #fff;

   &:after {
     width: 110%;
   }
 }
}

.title-animation h3 {
  opacity: 0; /* Inicialmente invisible */
  animation: fadeIn 3s forwards; /* Aparece gradualmente */
  animation-delay: 5s; /* Aparece después de 2 segundos */
}
/*----------------MEDIA QUERY---------------------*/
@media (max-width: 768px) {
  /* section icon home  */
  .section-icon-home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }
  .section-icon-home div div div div {
    width: 25%;
    height: 25%;
  }
  .section-targets {
    display: flex;
    flex-direction: column;
  }
  .section-tecnologys{
    gap: 0;
  }
  .section-tecnologys div{
    width: 30%;
  }
/* section card client  */
  .section-cards-customer{
    height:max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
  }
  .section-cards-customer div{
    width: 100%;
    
  }
/* information of client  */
  .info-profile-customer{
    width:100% ;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .info-profile-customer div {
    width: 310px;
    height: 310px;
    padding: 0;
  }
  .info-profile-customer div div {
    padding: 20px;
  }
    /* section another propieties  */
  .section-cards-another-propieties{
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
  }
}
/* ----- repsonsive for tablets-----  */
@media (min-width: 768px) and (max-width: 1024px) {
  /* information of client  */
    .info-profile-customer {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
  
    .info-profile-customer div {
      width: 310px;
      height: 310px;
      padding: 0;
    }
  
    .info-profile-customer div div {
      padding: 20px;
    }
    /* section card client  */
    .section-cards-customer {
      height: max-content;
      width: 100%;
      display: flex;
      padding: 50px;
      gap: 30px;
    }

    .section-cards-customer div {
      width: 100%;
      display:flex;
      flex-direction: column;
    }
    /* section another propieties  */
    .section-cards-another-propieties{
      height: max-content;
      display: flex;
      
      padding: 50px;
      gap: 30px;
    }
    .section-cards-another-propieties div {
      display: flex;
      flex-direction: column;
      width: 30%;
    }
    .section-cards-another-propieties div div{
      width: 100%;
    }
    .section-cards-another-propieties button {
      width: 100%;
      margin:5px;
    }
}